.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .edit-form-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;

  .button {
    width: 6.25rem;
    height: 2.5rem;
  }
}

.title {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-20px);
}