.rig-internet-info {
  width: 100%;
  display: grid;
  gap: 1.875rem;
  justify-content: space-between;
  grid-template-columns: minmax(15.625rem, auto) repeat(3, minmax(13.75rem, 1fr));

  .internet {
    display: flex;
    gap: .75rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}

.online {
  color: var(--color-positive);
}

.offline {
  color: var(--color-negative);
}