.rig-internet-info {
  width: 100%;
  display: flex;
  gap: 1.875rem;
  flex-wrap: wrap;
  justify-content: space-between;

  .table {
    flex-grow: 1;
    min-width: 15rem;
  }

  .internet {
    display: flex;
    gap: .75rem;
    align-items: center;
    flex-direction: column;
  }
}

.online {
  color: var(--color-positive);
}

.offline {
  color: var(--color-negative);
}