.flight-sheet-select-devices-page {
  display: flex;
  flex-direction: column;
  gap: .625rem;

  .header {
    display: flex;
    justify-content: space-between;
    height: 2.375rem;

    .back-button {
      width: 5.75rem
    }
  }

  .content {
    .content-container {
      display: flex;
      flex-direction: column;
      
      .content-container-header {
        text-align: center;
        line-height: 30px;

        .title {
          display: block;
          font-size: var(--font-size-22px);
        }
        .subtitle {
          display: block;

          .spinner {
            display: inline-block;
          }

          .flight-sheet-name {
            color: var(--color-blue);
          }
        }
      }

      .content-container-body {
        
      }
    }
  }
}