.presets-list {
  width: 40rem;

  .presets-list-container {
    display: flex;
    flex-direction: column;

    .title {
      margin-top: 1rem;
      margin-bottom: 0.625rem;
    }
  
    .presets-list-items {
      overflow: auto;
      flex: 3;
      max-height: 100%; 
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  opacity: 0.5;
}

.selected {
  transition: box-shadow 0.2s ease;
  box-shadow: inset 0 0 10px var(--color-blue);
}

.preset-item {
  cursor: pointer;
}