.presets-list {
  width: 40rem;

  .title {
    margin-top: 1rem;
    margin-bottom: 0.625rem;
  }

  .presets-list-items {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  opacity: 0.5;
}