.presets-list {
  width: 38rem;

  .title {
    margin-top: 1rem;
    margin-bottom: 0.625rem;
  }

  .presets-list-items {
    overflow: auto;
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}