.rig-menu {
  background-color: var(--color-container-opaque);
  border: var(--border);

  .link {
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
}

.inactive-link {
  &:hover {
    background-color: var(--color-hover-link-bg);
  }
}

.active-link {
  color: var(--color-active-link-text);
}