.rig-page {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 12rem) 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;

  .menu {
    max-height: 10rem;

    &.menu-with-rig {
      margin-top: 3.25rem;
    }
  }

  .rig-total-item {
    
    min-height: 13.25rem;
  }
}

.no-data {
  margin: auto;
}

.back-button {
  grid-column: span 1 / 3;
  width: 5.75rem;
  height: 2.5rem;
}