.rig-page {
  width: 100%;
  display: flex;
  gap: 1rem;

  .menu {
    margin-top: 3.25rem;
    max-height: 10rem;
    width: 12rem;
  }

  .rig-total-item {
    
    min-height: 13.25rem;
  }
}

.back-button {
  width: 5.75rem;
  height: 2.5rem;
}