@mixin subgrid() {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 7;
}

.wrapper {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(6, 1fr);
  font-size: var(--font-size-18px);
  .grid-title {
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    @include subgrid();
    color: var(--color-font-gray);
  }
  .grid-items {
    @include subgrid();
    align-items: center;
    grid-auto-rows: min-content;

    .grid-item {
      margin-top: 1rem;
      @include subgrid();
    }
  }
}

.measure {
  color: var(--color-measure);
}

.positive {
  color: var(--color-positive);
}

.negative {
  color: var(--color-negative);
}