.nav-links {
  display: grid;
  grid-template-columns: repeat(8, minmax(auto, 9.375rem));
  justify-content: center;
  align-self: flex-end; 
  font-size: var(--font-size-22px);
  gap: 0.3125rem;
  line-height: 3rem;
  max-height: 100vh;
}

@mixin container {
  position: relative;
  width: 100%;
  display: flex;
  align-self: center;
  max-width: 9.375rem;
  align-items: center;
  justify-content: center;
  z-index: 1;
  max-height: 100vh;  
}

.inactive-link {
  @include container();

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0), var(--color-hover-link-bg-gradient));
    padding-top: 1px;
    border-bottom: var(--border);
  }

  &.alt {
    border: var(--border);
    padding-top: 0px;
    border-top: none;
    background-color: var(--color-bg);
  }
  
  &.alt:hover {
    filter: drop-shadow(0 0 .5rem var(--color-hover-link-bg));
    background: var(--color-hover-link-bg);
  }
}

.active-link {
  @include container();
  background: linear-gradient(rgba(0, 0, 0, 0), var(--color-active-link-bg-gradient));

  border-bottom: solid 1px var(--color-active-link-text);
  color: var(--color-active-link-text);
  padding-top: 1px;

  &.alt {
    background: var(--color-active-link-bg);
    border: solid 1px var(--color-active-link-text);
    filter: drop-shadow(0 0 .5rem var(--color-active-link-bg));
    border-top: none;
  }

  &.white {
    color: white;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    justify-content: flex-start;
  }
}