.root-layout {
  display: flex;
  flex-direction: column;

  .UiAside {
    width: 5rem;
    height: 100svh;
    position: fixed;
    border-right: var(--border);
  }
  
  .main {
    overflow-y: auto;
    height: 100vh;
    max-height: 100vh;
    margin-left: 90px;
    flex-grow: 1;
  }
}

.grow { 
  flex-grow: 1;
  justify-content: center;
  text-wrap: nowrap;
}