:root {
  --color-bg: #20202A;
  --color-cotainer-paque: #242834;
  --color-cotainer-transparent: #000;
  --color-border: #3C9EA5;

  --color-active-link: #FC8800;
  --color-active-link-bg: #594125;
  --color-hover: rgba(60, 158, 165, 0.7);

  --font-size-22px: 1.375rem;
  --font-size-root: 16px;

  --border: solid 1px var(--color-border);
}

html {
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-root);
  background: var(--color-bg);
  height: 100svh;
  color: white;
  box-sizing: border-box;
  font-family: 'GillSansMT';
}

*, *:before, *:after {
  margin: 0;
	padding: 0;
  box-sizing: inherit;
}

a {
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: "GillSansMT";
  src: local("GillSansMT"),
   url("../shared/assets/fonts/Gill-Sans-MT.ttf") format("truetype");
  font-weight: normal;
}