.cpu-item-panel {
  width: 100%;

  .cpu-item-container {
    display: flex;
    min-height: 8rem;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;

    .cpu-info {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
  }
}

.text {
  
  color: var(--color-measure);
}