.cpu-panel-table {
  display: grid;
  grid-template-columns: repeat(4, minmax(3rem, 1fr));
  gap: 1rem;

  .cpu-panel-table-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-content);

    .text {
      width: 100%;
    }
  }
}

.blue {
  color: var(--color-measure);
}

.red {
  color: var(--color-negative);
}