@mixin subgrid() {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 6;
  justify-content: center;
  align-items: center;
}

.cpu-panel-grid {
  display: grid;
  grid-template-columns: minmax(auto, 3rem) 1fr minmax(auto, 3rem) minmax(auto, 3rem) 1fr;
  gap: var(--gap-content);
  grid-auto-flow: row;

  .cpu-panel-grid-title {
    @include subgrid();
    background-color: var(--color-bg-lighter);
    padding: 0 var(--gap-content);

    .text {
      text-align: center;
      color: var(--color-font-gray);
    }

    .span {
      grid-column: 3 / 5; 
    }
  }

  .cpu-panel-grid-items {
    @include subgrid();
    text-align: center;
    padding: 0 var(--gap-content);
    
    .shares-accepted {
      color: var(--color-positive);
      text-align: right;
      padding-right: 0.25rem;
    }

    .shares-rejected {
      color: var(--color-negative);
      text-align: left;
      padding-left: 0.25rem;
    }
  }
}

.blue {
  color: var(--color-measure);
}