.login {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 5.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../../shared/assets/images/login_background.png');

  .logo {
    font-family: FaunaPro;
    font-size: var(--font-size-96px);
    font-weight: 200;
    letter-spacing: 0.8em;
    text-indent: +0.8em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .form {
    width: 100%;
    max-width: 20.25rem;
    font-size: var(--font-size-18px);
  }
}