.profile-card {
  font-size: var(--font-size-20px);

  .profile-card-container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile-info {
      .profile-nickname {
        display: flex;
        gap: .5rem;
      }
    
      .profile-login {
        color: var(--color-font-gray);
      }
    }
  }
}

.profile-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}