.profile-info-card-layout {
  display: flex;
  
  .title {
    width: 10rem;
    opacity: .75;
  }

  .value {
    flex: 1;
    font-size: var(--font-size-18px);
  }

  .features {
    display: flex;
    gap: 0.5rem; 
  }
}