@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

.gpu-item {
  width: 100%;

  .gpu-item-container {
    display: flex;
    min-height: 8rem;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;

    .gpu-item-id {
      @include flex-column();
      gap: var(--gap-content);
      width: 100%;
      max-width: 7rem;
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: nowrap;

      .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .text {
        font-size: var(--font-size-18px);
      }
    }

    .gpu-item-name {
      @include flex-column();
      width: 15rem;
      gap: 0.15rem;

      .device-name {
        font-size: var(--font-size-20px);
      }
    }
  }

  .features {
    display: flex;
    gap: 1rem;
  }
}

.blue {
  color: var(--color-measure);
}