.gpu-miner-table-container {
  width: 12rem;

  .gpu-miner-table {
    display: flex;
    justify-content: space-between;

    border-bottom: var(--border);
    padding: 0.1563rem .5rem;
  
    color: var(--color-font-gray);

    .card-id {
      border-left: var(--border);
      padding-left: .5rem ;
    }
  }
}
