.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: var(--gap-content);

  .slot-1 {
    grid-column: 1 / 3;
    text-align: center;
  }

  .slot-2 {
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .slot-3 {
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2;
  }
}

.text-gray {
  color: var(--color-font-gray)
}

.text-optimistic {
  color: var(--color-optimistic)
}

.text-negative {
  color: var(--color-negative)
}