.form {

  .input {
    margin-bottom: 1.5rem;
  }

  .button {
    margin: auto;
    width: 8.625rem;
    height: 2.375rem;
  }

  .option {
    display: flex;
    justify-content: center;
    margin: .5rem 0;
    opacity: 0.65;
  }
}