.bg-container {
  width: inherit;
  height: inherit;
  padding: 0.625rem;
}

.opaque {
  background-color: var(--color-container-opaque);
}

.transparent {
  background-color: var(--color-cotainer-transparent);
}