.border-box {
  position: relative;
  border: var(--border);

  &.padding {
    padding: var(--gap-content);
  } 
}

@mixin square($size) {
  width: $size;
  height: $size;
  border: var(--border);
  background-color: var(--color-border-square);
}

$size: 0.8125rem;

.topLeft {
  @include square($size);
  position: absolute;
  top: -0.45rem;
  left: -0.45rem;
}

.bottomLeft {
  @include square($size);
  position: absolute;
  bottom: -0.45rem;
  left: -0.45rem;
}

.topRight {
  @include square($size);
  position: absolute;
  top: -0.45rem;
  right: -0.45rem;
}

.bottomRight {
  @include square($size);
  position: absolute;
  bottom: -0.45rem;
  right: -0.45rem;
}