.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  &:hover {
    background-color: color-mix(in srgb, var(--color-cotainer-opaque) 95%, white 10%);
  }
  &.active {
    background-color: var(--color-active-button);
  }
}

.opaque {
  background-color: var(--color-cotainer-opaque);

}