.column-board {
  display: flex;
  flex-direction: column;
  gap: var(--gap-field);

  .item {
    display: grid;
    // padding: 0 var(--gap-content);
    grid-template-columns: auto 1rem 1fr;

    &.flex {
      display: flex;
      justify-content: space-between;
    }

    .label {
      text-align: start;
      color: var(--color-font-gray);
    }

    .sep {
      text-align: center;
    }

    .value  {
      text-align: end;

      .measure {
        color: var(--color-blue);
      }
    }
  }
}

