@mixin subgrid() {
  display: grid;
  grid-column: 1 / 5;
  grid-template-columns: subgrid;
}

.domains-list {
  width: 100%;
  height: 100%;

  .features {
    display: flex;
    height: 2.375rem;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .domains-list-table {
    height: auto;
    .grid {
      min-height: 18rem;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(3, minmax(10rem, auto)) 1fr;
      grid-auto-rows: min-content;
  
      .subgrid-title {
        @include subgrid();
        height: auto;
        border-bottom: var(--border);
        padding: var(--padding-grid);
        gap: 0.825rem;
  
        .title-text {
          color: var(--color-border);
        }
      }
  
      .subgrid-items {
        @include subgrid();
        padding: var(--padding-grid);
        gap: 0.825rem;
      }
    }
  }

}

.no-data {
  justify-content: center;
  align-items: center;
  grid-column: 1 / 5;
  text-align: center;
  padding: 0.625rem;
}