.input {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: var(--gap-content);
}

.padding-flex {
  padding: 0;
  height: 2rem;
  display: flex;
  align-items: center;
}

.padding-input {
  width: 100%;
  padding: var(--gap-content);
}

.disabled {
  opacity: 0.5;
}