.flightsheet-modal {
  display: flex;
  width: 55rem;

  .flightsheet-modal-container {
    padding: var(--gap-widget);

    .target-part-container {
      &.active {
        margin-top: 2rem;
      }
  
      .target-part {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }

}

.buttons {
  display: flex;
  margin-top: 2rem;
  height: 2.3125rem;
  justify-content: center;
  gap: var(--gap-widget);

  .button {
    width: 8.5rem;
  }
}

